################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PromotionEngine/bin/Debug/netcoreapp3.1
/PromotionEngine.Test/bin/Debug/netcoreapp3.1
/PromotionEngine.Test/obj/Debug/netcoreapp3.1
/PromotionEngine/obj/Debug/netcoreapp3.1
/PromotionEngine.Test/obj
